*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    
}



.txt{
    width: 24%;
    height:100px;
    margin: 5px 5px;
    background-color: white;
    border: 1px solid black;
    
}

.txt img{
   width:100%;
}


i{
    padding: 5px;
    display: flex;

}
