*{
    margin: 0;
    padding: 0;
}

.left{
    display: flex;
    position: relative;
    justify-content: space-between;
margin: 20px;
width: 500px;
height: 500px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
p{
    text-align: left;
    font-size: medium;
}